.testimony{
    min-width: 300px;
    box-shadow: 1px 1px 3px grey;
    border-radius: 10px;
    padding: 10px;
}

.testimony .image{
    width: 100%;
    border-bottom: 1px solid rgb(153, 153, 153);
}

.testimony .image img{
    width: 70%;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}

.testimony .image h2{
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    margin: 10px;
    color: teal;
}

.testimony p{
    color: rgb(112, 112, 112);
    font-size: 18px;
    margin: 10px;
}


@media screen and (max-width: 601px){
    .testimony {
        min-width: 200px;
    }
    .testimony .image h2{
        font-size: 20px;
        margin: 5px;
    }

    .testimony p{
        font-size: 13px;
    }
}